body{
    margin: 1px;
    background-color: rgb(86, 94, 94);
    border: 2px solid var(--bs-gray-200);

}
.navbar-brand{
    color: rgb(185, 209, 140);
}
.navbar-toggler{
    color: rgb(204, 230, 157);
}

.navbar-toggler-icon{
    color: rgb(204, 230, 157);
}

form {
 
    margin: 0 auto;
    width: 400px;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
label {

    display: inline-block;
    width: 10px;
    text-align: right;
}