h1, h2 {
    color: blue;
}
body {
    background-color: antiquewhite;
    margin: 8px;
}
 p {
    color: darkgreen;
 }

 hr {
    color: blue;
	width: 22%;
	text-align: center; 
	margin: 2 auto 2 2;
    border: 5px solid; 
	border-color:#00f;
	}
   
 h1 {
    text-align: center;
 }