body{
    margin: 1px;
    background-color: rgb(250, 250, 250);
    border: 2px;

}

.navbar-brand{
    color: rgb(185, 209, 140);
    margin-top: 10px;
    
}
.navbar-toggler{
    color: rgb(204, 230, 157);
}

.navbar-toggler-icon{
    color: rgb(204, 230, 157);
}

form {
    --margin: 150px;
    --width: 400px;
    padding: 5em;
    border: 1px solid rgb(15, 15, 15);
    --border-radius: 0em;
    margin-top: auto;
    margin-bottom: auto;
    
}
label {
    color: rgb(8, 8, 8);
    display: flex;
    width: 90px;
    text-align: center;
}

input, textarea {
    
    padding: 2px;
    margin-bottom: 4px;
    width: 300px;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgb(17, 17, 17);

}

h1{
    margin-top: 1px;
    font-size: 50px;
    font-style: normal;
    color: rgb(8, 8, 8);
}

h6{
    margin: 35px;
}

button1{
    font-size: x-large;
}

.bg-dack {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    font-size: 1.25rem;
}

.card {
   
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 0px solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    
}

.card-body{
    --margin-left: 300px;
}

.formulario{
    margin-left: 250px;
    margin-top: 50px;
    display: flex;
    flex-wrap: inherit;
    cursor: pointer;
}

container-fluid{
    background-color: black;
}

h2{
    margin-bottom: 500px;
    margin-left: 10px;
 
}