body{
    margin: 1px;
    background-color: rgb(86, 94, 94);
    border: 2px solid var(--bs-gray-200);

}
.navbar-brand{
    color: rgb(185, 209, 140);
}
.navbar-toggler{
    color: rgb(204, 230, 157);
}

.navbar-toggler-icon{
    color: rgb(204, 230, 157);
}

form {
 
    margin: 0 auto;
    width: 400px;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
label {

    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}