h1, h2 {
    color: rgb(172, 107, 22);
}
body {
    background-color: antiquewhite;
    padding: 10%;
}
 p {
    color: darkgreen;
 }

 h1 {
    text-align: center;
 }
 h1 {
    border-color: rgb(6, 6, 150);
 }

