h1, h2 {
    color: blue;
}
body {
    background-color: antiquewhite;
    padding: 10%;
    margin: 20px;
    border: 10px solid rgb(166, 255, 0);
    
}
 p {
    color: darkgreen;
 }

 h1 {
    text-align: center;
 }
 h1 {
    border-color: blue;
    

