h2 {
    color: blue;
}
body {
    background-color: rgb(221, 241, 145);
    padding: 10%;
    margin: 20px;
    border: 10px solid rgb(162, 199, 92);
    
}
 p {
    color: darkgreen;
 }

 h1 {
    text-align: center;
 }
 h1 {
    color:  rgb(221, 241, 145);
    border-color: blue;
    pa: 5px solid rgb(10, 7, 241);
    

